@model CalendarWebDemo.Models.CalendarEvent
@{
    ViewBag.Title = "Index";
}

<h2>Calendar </h2>
<div>
    <iframe src="https://calendar.google.com/calendar/embed?src=atumaischeduling%40gmail.com&ctz=America%2FLos_Angeles" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
</div>